*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
body{
    width: 100%;
    padding: 50px;
    color: white;
    background-color: rgb(14, 1, 11);
   /* animation: teste 5s infinite;*/
}
/*
@keyframes teste {
  0%{
    background-color: rgb(76, 110, 162);
  }
  50%{
    background-color: rgb(43, 86, 226);
  }
  100%{
    background-color: rgb(6, 6, 85);
  }
 } */

h1{
   text-align: center;
   font-size: 80px;
   animation: h1ani 5s alternate infinite;
   
}
@keyframes h1ani {
    0% {
        color: white;
      }
      100% {
       color: rgb(51, 48, 56);
      }
    }
    
h1:hover{
    
    text-decoration: underline;
}
main{
   display: flex;
   margin-left: 80px;
   margin-bottom: 50px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   
}
.encrip, .desenc, .btn-copiar{
  border-radius: 10px;
  text-decoration: none;
    background-color: rgb(163, 104, 190);
    color: white;
    width: 100px;
    height: 40px;
    transition: background .3s;
}
.encrip:hover{
  background-color: rgb(9, 71, 51);
}
.desenc:hover{
  background-color: rgb(9, 71, 51);
}
textarea{
  display: block;
  color: white;
  background: transparent;
  text-transform: uppercase;

}
textarea:valid{
  border: 2px solid white;
}
footer{
  color: white;
  animation: anih6 4s alternate infinite;
  text-align: center;
  
}
.icons ion-icon{
  position: relative;
  width: 20px;
  height: 20px;
  color: white;
}


@keyframes anih6{
    from {
        transform: translateX(30px);
      }
      to {
        transform: translateX(0);
      }
    }

    @media(max-width:  796px){
      body {
        width:100%;} 
      h1{
        font-size: 2em;
      }
      h2{
        font-size: 1em;
        padding: 10px;
      }
      textarea{
        
          display: flex;
          flex-direction: row;
          justify-content: center;
          justify-items: center;
        }
        label{
          text-align: center;
        }
  }